<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Ingreso / gasto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Ocultar los formularios pero mostrar el contenido dentro */
        .form-container {
            visibility: hidden; /* Hace invisible el contenedor del formulario */
        }

        .form-container input,
        .form-container select,
        .form-container label,
        .form-container button {
            visibility: visible; /* Asegura que los elementos de formulario sean visibles e interactivos */
        }
    </style>
</head>
<body>
    <header>
        <h1>Tesoreria - Centro de Estudiantes</h1>
    </header>
    <!-- Contenedor del menú -->
    <div class="menu-container">
        <!-- Menú de usuario -->
        <button id="user-name-btn">{{ username }}</button>
    
        <!-- Menú de opciones -->
        <div id="user-menu">

            <form id= "logout-form" action="{{ url_for('logout') }}" method="GET" style="display:none;">
                <button id="cerrar-sesion" type="submit">Cerrar sesión</button>
            </form>
            <button id="cerrar-sesion-btn">Cerrar sesión</button>

            <form id="export-form" action="{{ url_for('export') }}" method="GET" style="display:none;">
                <button id="exportar-historial" type="submit">Exportar historial</button>
            </form>
            <button id="exportar-historial-btn">Exportar historial</button>

        </div>
    </div>
    <h1 style="padding: 30px; text-decoration: underline;">Editar Ingreso / Gasto</h1>
    <!-- Contenedor del formulario oculto -->
    <div class="form-container">
        <form id="form-actualiza-ingresos-y-gastos" method="POST">
            <label for="ingreso_gasto">Tipo de ingreso o gasto:</label>
            <select id="ingreso_gasto" name="ingreso_gasto" required value="{{ inga['ingreso_gasto'] }}">
                <option value="" disabled style="color: #ff1493;">SELECCIONAR</option>
                <option value="INGRESO" {% if inga['ingreso_gasto'] == 'INGRESO' %}selected{% endif %}>INGRESO</option>
                <option value="GASTO" {% if inga['ingreso_gasto'] == 'GASTO' %}selected{% endif %}>GASTO</option>
            </select>
            <p></p>
            <label for="descripcion">Descripcion del ingreso o gasto:</label>
            <select id="descripcion" name="descripcion" required>
                <option value="" disabled style="color: #ff1493;">SELECCIONAR</option>
                <!-- Las opciones se actualizarán mediante JavaScript -->
            </select>
            <p></p>
            <div id="ingreso-o-gasto-personalizado-container" style="display: none;">
                <label for="descripcion2">Nombre del ingreso o Gasto Personalizado:</label>
                <input type="text" id="descripcion2" name="descripcion2" placeholder="Escribe la descripción del ingreso o gasto" value="{{ inga['descripcion'] }}">
            </div>
            <p></p>
            <label for="cantidad_unidades">Cantidad de unidades:</label>
            <input type="number" id="cantidad_unidades" name="cantidad_unidades" placeholder="Cantidad" required min="1" step="1" value="{{ inga['cantidad_unidades'] }}">
            <p></p>
            <label for="precio">Precio por unidad:</label>
            <input type="number" id="precio" name="precio" placeholder="Precio" required min="0.01" step="0.01" value="{{ inga['precio'] }}">
            <p></p>
            <div class="button-container">
                <button type="submit">Actualizar el ingreso o gasto en la lista</button>
            </div>
            <div class="button-container">
                <button type="button" data-url="{{ url_for('index') }}" onclick="window.location.href=this.getAttribute('data-url');">Volver a página principal</button>
            </div>
            <p id="error-gasto" style="color: red; display: none;">Por favor, complete todos los campos correctamente.</p>
        </form>
    </div>
    <p></p>
    <p></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>
    // Referencias a los elementos del formulario
    const ingresoGastoSelect = document.getElementById("ingreso_gasto");
    const descripcionSelect = document.getElementById("descripcion");
    const ingresoGastoPersonalizadoContainer = document.getElementById('ingreso-o-gasto-personalizado-container');
    const descripcionInput = document.getElementById('descripcion2');

    // Opciones para INGRESO y GASTO
    const opcionesIngreso = [
        { value: "Torneo de Truco", label: "Torneo de Truco" },
        { value: "Torneo de Ajedrez", label: "Torneo de Ajedrez" },
        { value: "Torneo de E-sports", label: "Torneo de E-sports" },
        { value: "Bingo", label: "Bingo" },
        { value: "Personalizado", label: "Personalizado" }
    ];

    const opcionesGasto = [
        { value: "Pintura", label: "Pintura" },
        { value: "Espejos de Plástico Reflectante", label: "Espejos de Plástico Reflectante" },
        { value: "Picaportes", label: "Picaportes" },
        { value: "Desodorantes de Ambiente", label: "Desodorantes de Ambiente" },
        { value: "Plantas", label: "Plantas" },
        { value: "Personalizado", label: "Personalizado" }
    ];

    // Función para actualizar las opciones del select descripcion
    function actualizarDescripcion() {
        const seleccion = ingresoGastoSelect.value;
        descripcionSelect.innerHTML = '<option value="" disabled selected style="color: #ff1493;">SELECCIONAR</option>';

        let opciones = [];
        if (seleccion === "INGRESO") {
            opciones = opcionesIngreso;
        } else if (seleccion === "GASTO") {
            opciones = opcionesGasto;
        }

        opciones.forEach(opcion => {
            const option = document.createElement("option");
            option.value = opcion.value;
            option.textContent = opcion.label;
            descripcionSelect.appendChild(option);
        });

        // Verificar si la descripción seleccionada es "Personalizado" para mostrar el campo adicional
        const selectedDescripcion = "{{ inga['descripcion'] }}";  // Valor de la base de datos

        if (selectedDescripcion && !opciones.some(opcion => opcion.value === selectedDescripcion)) {
            // Si no está en las opciones, seleccionamos "Personalizado" y mostramos el input adicional
            descripcionSelect.value = "Personalizado";
            ingresoGastoPersonalizadoContainer.style.display = 'block';
            descripcionInput.value = selectedDescripcion;
        } else {
            // Si la descripción está en las opciones, lo ocultamos
            ingresoGastoPersonalizadoContainer.style.display = 'none';
            // Debe agregarle al primer descripcion el valor que corresponde.
            descripcionSelect.value = selectedDescripcion;
        }
    }

    // Llamada inicial a la función para cargar las opciones cuando el formulario se carga
    actualizarDescripcion();

    // Escuchar el cambio en el select de tipo de ingreso o gasto
    ingresoGastoSelect.addEventListener("change", actualizarDescripcion);

    // Mostrar/ocultar campos personalizados para ingresos o gastos
    document.getElementById('descripcion').addEventListener('change', () => {
        const descripcion = document.getElementById('descripcion').value;
        if (descripcion === 'Personalizado') {
            ingresoGastoPersonalizadoContainer.style.display = 'block';
        } else {
            ingresoGastoPersonalizadoContainer.style.display = 'none';
        }
    });

    // Alternar visibilidad del menú de usuario
    document.getElementById('user-name-btn')?.addEventListener('click', () => {
        document.getElementById('user-menu').classList.toggle('show');
        document.getElementById('user-menu').classList.remove('hidden'); // Asegura que no esté oculto
    });

    // Ocultar el menú al hacer clic en el botón "Exportar historial"
    document.getElementById('exportar-historial')?.addEventListener('click', () => {
    document.getElementById('user-menu').classList.remove('show');
    document.getElementById('user-menu').classList.add('hidden'); // Agrega la clase "hidden" para ocultarlo
    });

    // Para enviar el formularo al usar el botón Cerrar sesión
    document.getElementById('cerrar-sesion-btn').addEventListener('click', function() {
        document.getElementById('logout-form').submit(); // Envia el formulario de logout
    });

    // Para enviar el formularo al usar el botón Exportar historial
    document.getElementById('exportar-historial-btn').addEventListener('click', function() {
        document.getElementById('export-form').submit(); // Envia el formulario de exportar
    });

</script>
</body>
</html>
